/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 56rem) {


   /*
    nav{
        display: flex;
        
		
	}
	
	nav button {
		display: none;
	}
	
	nav ul.hide{
		display: block;
	}
	
	nav ul {
		margin: 0 auto;
	}
	
	nav ul li {
		float: left;
		display: block; /* change state in small view */
	/*	flex: 1 1 auto;
	}
	
	nav ul li a {
		border: none;
		border-right: 1px solid rgba(0,0,0,0.3);
		padding: .6rem 1rem;
	}
	*/

	.m {
		font-size: 1.2rem;
	}
	
	nav ul li {
		font-size: 1rem;
	}
 
/*----Local Business Info----*/

.business {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	max-width: 1290px;
} 

.business article {
	display: grid;
	grid-template-rows: 1fr ;
	margin: .5rem;
	padding: 20px;
}

.business h2 {
	font-size: 2rem;

}

.business img {
	width: 100%;
	padding: 0;

}

.business div {
	width: 100%;
	/*padding: 1.5rem;*/

}

.business p {
	font-size: 1.1rem;
	line-height: 2rem;
}


/*---Weather---*/

.weather {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #215353;
    color: #FEFCFD;
    padding: 10px 25px;
}

.weather h3 {
    text-align: center;
}
.weather p {
    line-height: 10px;
}

table {
	width: 75%;
	margin: 20px auto;
	border-collapse: collapse;
	padding: 1rem;
}

td, th {
	/*border: 1px solid #dddddd;*/
    border-left: 1px solid gray;
    border-right: 1px solid gray;
	text-align: center;
  }
  
td {color: #FEFCFD;}


/*tr:nth-child(odd) {
	background-color: #ffffff;
  }*/ 

/*------Directory Page-------*/

.buttons {
    display: block;
    margin: 0 0 0 1.5rem;
}

.buttons button {
	background-color: #b7b7b7;
	padding: 10px 20px;
}

.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
} 

.cards article {
	display: grid;
	grid-template-rows: 1fr ;
	margin: .5rem;
	padding: 20px;
}

.cards h2 {
	font-size: 1.5rem;
}

.cards img {
	width: 50%;
	padding: 0;

}

.cards div {
	width: 100%;
	padding: 1rem;

}

.cards p {
	font-size: 1.1rem;
	line-height: 2rem;
}


/*------Contact Page----------*/

.boardImages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


} /*end large */